<!DOCTYPE html>
<!-- ヘッダー等共通レイアウト -->
<html>
  <head>
    <title>Pictgram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- fontawesomeのリンク -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# フラッシュの呼び出し %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <!-- ヘッダーアイコン -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <!-- アプリロゴ -->
     <div class="container">
       <%= link_to root_path do %>
         <h1 class = "navbar-brand"> awegraph </h1>
       <% end %>

       <ul class="nav navbar-nav navbar-right">

         <%# ログインしている場合のヘッダーアイコン %>
         <% if logged_in? %>

            <%# お気に入り %>
           <li>
             <%= link_to favorites_index_path do %>
               <i class="fas fa-heart fa-3x fa-fw"></i>
             <% end %>
           </li>

           <!-- 新規投稿 -->
           <li>
             <%= link_to new_topic_path do %>
               <i class="far fa-edit fa-3x"></i>
             <% end %>
           </li>

           <!-- ログアウト -->
           <li>
             <%= link_to logout_path, method: :delete do %>
               <i class="fas fa-sign-out-alt fa-3x"></i>
             <% end %>
           </li>

           <%# ログインしていない場合 %>
         <% else %>

          <%# サインイン %>
           <li>
             <%= link_to new_user_path do %>
               サインイン
             <% end %>
           </li>

           <!-- ログイン -->
           <li>
             <%= link_to login_path do %>
               ログイン
             <% end %>
           </li>
         <% end %>
       </ul>
     </div>
    </nav>

    <%= yield %>

    <!-- アラートの消えるスピード -->
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
  </body>
</html>
